@media  screen and (max-width: 467) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 576) {
  
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 768) {
  body {
    background-color: lightblue;
  }
}


/* @media screen and (max-width: 992) {
  h1{
    font-size: 31px;
  }
 } */


@media only screen and (max-width: 1200) {
  .myimg {
    width: 500px;
    height: 400px;
    transform: translateY(50px);
    
}
}









